.d1{background-color:#f5f3d4}

.a1{display: block; margin: 0px auto; max-width:100%; height:auto;}

.a2{margin: 0px auto;}

.f1{font-family: 'Black Han Sans', sans-serif; font-size: 300%; text-align: center;}

.center{display: block; text-align:center; max-width:100%; height:auto;}
